<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="front/login/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <!-- CSS only -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
{% block body %}
    <img class="wave" src="front/login/img/wave.png">
    <div class="container">
        <div class="img">
            <img src="front/login/img/bg.svg">
        </div>
        <div class="login-content">
            <form method="post"novalidate>
                <img src="front/login/img/avatar.svg">
                <h2 class="title">Reset Password</h2>
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        {{ form_start(requestPassForm, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}
                            <div class="mb-3">
                                    {{ form_label(requestPassForm.email, 'Email', {'label_attr': {'class': 'form-label'}}) }}
                                    {{ form_widget(requestPassForm.email, {'attr': {'class': 'form-control'}}) }}
                                    {{ form_errors(requestPassForm.email) }}
                            </div>
                                    <button type="submit" class="btn btn-primary">Envoyer</button>
                        {{ form_end(requestPassForm) }}
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="front/login/js/main.js"></script>
{% endblock %}
</html>
