{% extends 'base.html.twig' %}
{% block body %}
<h1>Liste des Rendezvous</h1>
<table style="width: 100%;">
    <thead>
    <a href="{{ path('addF') }}" class="btn btn-Add">Add</a>
        <tr>
            <th>id</th>
            <th>lieu</th>
            <th>date</th>
            <th>description</th>
            <th>Actions</th> <!-- Rename the table header to "Actions" -->
        </tr>
    </thead>
    <tbody>
        {% for t in response %}
            <tr>
                <td>{{ t.id }}</td>
                <td>{{ t.lieu }}</td>
                <td>{{ t.date|date('Y-m-d H:i:s') }}</td>

                <td>{{ t.description }}</td>
                <td>
                    <a href="{{ path('update', {'id': t.id}) }}" class="btn btn-update">Update</a>
                    <a href="{{ path('remove', {'id': t.id}) }}" class="btn btn-delete">X</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<style>
    table {
        border-collapse: collapse;
    }

    th, td {
        border: 0.5px solid #000;
        padding: 8px;
        text-align: left;
    }

    .btn {
        display: inline-block;
        padding: 6px 12px;
        margin: 5px;
        text-decoration: none;
        border-radius: 4px;
    }

    .btn-update {
        background-color: #007bff;
        color: #fff;
    }
 .btn-Add {
        background-color: #007bff;
        color: #fff;
    }
    .btn-delete {
        background-color: #ff0000;
        color: #fff;
        width: 20px;
        text-align: center;
    }
</style>
{% endblock %}
