<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Health Arena</title>
    <!-- Bootstrap CSS -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <!-- My CSS -->
    <link rel="stylesheet" href="back/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" />
    <link rel="stylesheet" href="styles.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        table {
            margin-top: 20px; /* Adjust the margin as needed */
        }

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        /* CSS for image size */
        .table img {
            width: 50px; /* Adjust the width as needed */
            height: 50px; /* Adjust the height as needed */
        }
    </style>
</head>
<body>
    <!-- Health Arena Sidebar -->
    <section id="sidebar">
        <a href="#" class="brand">
            <i class='bx bxs-smile'></i>
            <span class="text">Health Arena</span>
        </a>
        <ul class="side-menu top">
            <li class="active">
                <a href="#">
                    <i class='bx bxs-dashboard'></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <!-- Produit Bouton -->
            <style>
                .Produit-toggle {
                    text-decoration: underline;
                    background-color: transparent;
                    border: none;
                    color: black;
                }

                .Produit-toggle:hover {
                    text-decoration: underline;
                    background-color: transparent;
                    color: black;
                }
            </style>
            <div class="Produit">
                <i class="fa-solid fa-suitcase-medical"></i>
                <button class="btn btn-secondary Produit-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Produit
                </button>
                <span class="Produit-menu dropdown-menu">
                    <li><a class="dropdown-item" href="Add">Ajouter</a></li>
                    <li><a class="dropdown-item" href="Affiche">Afficher</a></li>
                </span>
            </div>

            <!-- Ordonnance Bouton -->
            <style>
                .categorie-toggle {
                    text-decoration: underline;
                    background-color: transparent;
                    border: none;
                    color: black;
                }

                .categorie-toggle:hover {
                    text-decoration: underline;
                    background-color: transparent;
                    color: black;
                }
            </style>
            <div class="categorie">
                <i class="fa-solid fa-pills"></i>
                <button class="btn btn-secondary categorie-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    categorie
                </button>
                <span class="categorie-menu dropdown-menu">
                    <li><a class="dropdown-item" href="Addc">Ajouter</a></li>
                    <li><a class="dropdown-item" href="Affichec">Afficher</a></li>
                </span>
            </div>
            <li>
                <a href="#">
                    <i class='bx bxs-message-dots'></i>
                    <span class="text">Message</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bxs-group'></i>
                    <span class="text">Team</span>
                </a>
            </li>
        </ul>
        <ul class="side-menu">
            <li>
                <a href="#">
                    <i class='bx bxs-cog'></i>
                    <span class="text">Settings</span>
                </a>
            </li>
            <li>
                <a href="#" class="logout">
                    <i class='bx bxs-log-out-circle'></i>
                    <span class="text">Logout</span>
                </a>
            </li>
        </ul>
    </section>

    <!-- Pharmacy List -->
    <div class="container">
        <h1 class="mt-4 text-center">Liste Produit</h1>
        <div>
            <table border="3" class="table">
                <tr>
                    <th>id</th>
                    <th>nom </th>
                    <th>description</th>
                    <th>prix</th>
                    <th>categorie</th>
                    <th>quantite</th>
                    <th>image</th>
                    <th>edit</th>
                    <th>delete</th>
                </tr>
                {% for p in produit %}
                <tr>  
                    <td>{{ p.id }}</td>
                    <td>{{ p.nom }}</td>
                    <td>{{ p.description }}</td>
                    <td>{{ p.prix }}</td>
                    <td>{{ p.categorie }}</td>
                    <td>{{ p.quantite}}</td>
                    <td><img src="{{ asset(p.img) }}"></td>
                    <td><a href="{{ path('app_edit', {'id': p.id}) }}"><i class="fa-regular fa-pen-to-square"></i></a></td>                   
                    <td><a href="{{ path('app_delete', {'id': p.id}) }}"><i class="fa-regular fa-trash-can"></i></a></td>
                    
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>
