{% extends 'event/back.html.twig' %}

{% block content %}
    <h1>Activity</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Status</th>
                <th>Description</th>
                <th>Organisateur</th>
                <th>Evenement</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for activity in activities %}
            <tr>
                <td>{{ activity.id }}</td>
                <td>{{ activity.nom }}</td>
                <td>{{ activity.status }}</td>
                <td>{{ activity.description }}</td>
                <td>{{ activity.organisateur }}</td>
                <td>{{ activity.evenement}}</td>
                <td>
                    <a href="{{ path('app_activity_show', {'id': activity.id}) }}">show</a>
                    <a href="{{ path('app_activity_edit', {'id': activity.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_activity_new') }}">Create new</a>
{% endblock %}
