{% extends 'back/index.html.twig' %}
{% block body %}
{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') %}
<a href="{{ path('app_affiche_doctor') }}" class="btn btn-dark" 'style': 'margin: 20px;' >Back</a>
   {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'style': 'width: 50%; margin: auto;'}}) }}
        <div class="col">{{ form_row(form.firstname) }}</div>
        <div class="col">{{ form_row(form.lastname) }}</div>
        <div class="col">{{ form_row(form.address) }}</div>
        <div class="col">{{ form_row(form.domaine) }}</div>
        <div class="col">{{ form_row(form.number) }}</div>
        <div class="col">{{ form_row(form.img_path) }}</div>
    {{ form_end(form) }}
    {% else %}
<div class="alert alert-danger" role="alert">
        You do not have permission to access this page.
</div>
{% endif %}
    
{% endblock %}
